.grey {
    color: gray;
}

.normal {
    font-weight: normal;
}

.strong {
    font-weight: bold;
}

.flex-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.phone-image {
    display: block;
    height: 35vh;
    margin: 15vh auto 0 auto;
}

.text-container {
    margin-left: 5vw;
    margin-right: 5vw;
}